{% extends "resources/assets/templates/layouts/single.html" %}

{% block footer %}
	<div class="navbar bottom">
		<ul class="navbar-nav">
			<li class="nav-item">
				2 records
			</li>
		</ul>
		<ul class="navbar-nav">
			<li class="nav-item">
				<nav aria-label="Page navigation example">
					<ul class="pagination">
						<li class="page-item"><a class="page-link" href="#">
							<i class="material-symbols-outlined">
								navigate_before
							</i>
						</a></li>
						<li class="page-item"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">
							<i class="material-symbols-outlined">
								navigate_next
							</i>
						</a></li>
					</ul>
				</nav>
			</li>
		</ul>
	</div>
{% endblock %}

{% block pagenav %}
	<button type="button" class="btn btn-primary" data-bind="admin.user-edit" data-id="0">
		<i class="material-symbols-outlined">
			person_add
		</i>
		Create new user
	</button>
{% endblock %}

{% block main %}
	<div class="block">
		<div class="table-responsive">
			<table class="table table-striped table-mobile-stacked">
				<thead>
					<tr>
						<th>ID</th>
						<th>Username</th>
						<th>First name</th>
						<th>Last name</th>
						<th>E-mail</th>
						<th>Status</th>
						<th>Groups</th>
						<th>Last seen</th>
						<th>Last IP</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="table__id">
							<div class="table__mcaption">ID</div>
							1
						</td>
						<td>
							<div class="table__mcaption">Username</div>
							<a href="javascript:;" data-bind="admin.user-edit">admin</a>
						</td>
						<td>
							<div class="table__mcaption">First name</div>
							Admin
						</td>
						<td>
							<div class="table__mcaption">Last name</div>
							User
						</td>
						<td>
							<div class="table__mcaption">Email</div>
							admin@example.com
						</td>
						<td>
							<div class="table__mcaption">Status</div>
							<span class="badge bg-success">Active</span>
						</td>
						<td>
							<div class="table__mcaption">Groups</div>
							<span class="badge rounded-pill bg-danger">admin</span>
						</td>
						<td class="table__date">
							<div class="table__mcaption">Last seen</div>
							12.12.2023 12:00
						</td>
						<td>
							<div class="table__mcaption">Last IP</div>
							192.168.0.1
						</td>
						<td class="table__options">
							<div class="table__mcaption">&nbsp;</div>
							<div class="dropdown">
								<button class="btn btn-sm btn-outline-dark captionless" data-bs-toggle="dropdown">
									<i class="material-symbols-outlined">page_info</i>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a href="user-log.html" class="dropdown-item">
										<i class="material-symbols-outlined">browse_activity</i>
										Activity log
									</a>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="table__id">
							<div class="table__mcaption">ID</div>
							2
						</td>
						<td>
							<div class="table__mcaption">Username</div>
							<a href="javascript:;" data-bind="admin.user-edit">john</a>
						</td>
						<td>
							<div class="table__mcaption">First name</div>
							John
						</td>
						<td>
							<div class="table__mcaption">Last name</div>
							Appleseed
						</td>
						<td>
							<div class="table__mcaption">Email</div>
							admin@example.com
						</td>
						<td>
							<div class="table__mcaption">Status</div>
							<span class="badge bg-danger">Disabled</span>
						</td>
						<td>
							<div class="table__mcaption">Groups</div>
							<span class="badge rounded-pill text-bg-light">procurement</span>
							<span class="badge rounded-pill text-bg-light">management</span>
						</td>
						<td class="table__date">
							<div class="table__mcaption">Last seen</div>
							12.12.2023 12:00
						</td>
						<td>
							<div class="table__mcaption">Last IP</div>
							192.168.0.1
						</td>
						<td class="table__options">
							<div class="table__mcaption">&nbsp;</div>
							<div class="dropdown">
								<button class="btn btn-sm btn-outline-dark captionless" data-bs-toggle="dropdown">
									<i class="material-symbols-outlined">page_info</i>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a href="user-log.html" class="dropdown-item">
										<i class="material-symbols-outlined">browse_activity</i>
										Activity log
									</a>
								</div>
							</div>
						</td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
