* {
	min-width: 0;
}

html {
	font-size: max(8px, 0.833333vw);

	@include media-breakpoint-down(xl) {
		font-size: max(10px, 0.95vw);
	}

	@include media-breakpoint-down(lg) {
		font-size: max(12px, 1.5vw);
	}

	@include media-breakpoint-down(md) {
		font-size: max(14px, 2.7vw);
	}

	@include media-breakpoint-down(sm) {
		font-size: max(16px, 4.33vw);
	}
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100svh;
	font-size: 1rem;
}

main {
	flex: 1 1 auto;
	position: relative;
	z-index: 1;
}

a {
	text-decoration: none;
}

b,
strong {
	font-weight: $font-weight-bold;
}

p {
	margin-bottom: $spacer;

	&:last-child {
		margin-bottom: 0;
	}
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

fieldset {
	border: solid 1px var(--bs-border-color);
	padding: $spacer;
	border-radius: $input-border-radius;
}

fieldset + fieldset {
	margin-top: $spacer;
}

legend {
	font-size: 0.857rem;
	text-transform: uppercase;
	color: var(--bs-tertiary-color);
	font-weight: $font-weight-bold;
	width: auto;
	margin: 0;
	padding: 0 $spacer * 0.5;
	margin-top: -$spacer;
	position: relative;
	transform: translateY(-50%);
	background: var(--bs-body-bg);
	border-color: var(--bs-border-color);
}

h1,
.h1 {
	font-weight: $font-weight-thin;
}
