@import 'fonts';

@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/material-symbols/outlined.scss';
@import '../node_modules/perfect-scrollbar/css/perfect-scrollbar';
@import '../node_modules/air-datepicker/air-datepicker';
@import '../node_modules/leaflet/dist/leaflet';
@import '../node_modules/file-icon-vectors/src/scss/file-icon-square-o';
@import '../node_modules/swiper/swiper';
@import '../node_modules/swiper/modules/navigation';
@import '../node_modules/swiper/modules/effect-fade';
@import '../node_modules/pell/src/pell';
@import '../node_modules/@yaireo/tagify/dist/tagify';
@import '../node_modules/cropperjs/src/css/cropper';

@import 'globals';

@import 'elements/alert';
@import 'elements/breadcrumb';
@import 'elements/btn';
@import 'elements/card';
@import 'elements/custom-feedback';
@import 'elements/dropdown-item';
@import 'elements/dropdown-menu';
@import 'elements/form';
@import 'elements/form-check';
@import 'elements/form-control';
@import 'elements/form-datepicker';
@import 'elements/form-group';
@import 'elements/form-label';
@import 'elements/form-select';
@import 'elements/form-text';
@import 'elements/header-nav';
@import 'elements/input-group';
@import 'elements/list-group';
@import 'elements/main-header';
@import 'elements/main-menu';
@import 'elements/material-symbols';
@import 'elements/modal-backdrop';
@import 'elements/modal-dialog';
@import 'elements/nav';
@import 'elements/navbar';
@import 'elements/offcanvas';
@import 'elements/pagination';
@import 'elements/table';
@import 'elements/tabs';
@import 'elements/text-editor';
@import 'elements/toast';
@import 'elements/notification';

@import 'components/autocomplete';
@import 'components/datepicker';
@import 'components/form-split';
@import 'components/password-validator';
@import 'components/quick-stats';
@import 'components/uploader';
@import 'components/autocomplete';
@import 'components/map-picker';
@import 'components/horizontal-form';
@import 'components/multiselect';
@import 'components/gallery';
@import 'components/chart';
@import 'components/tree-editor';
@import 'components/editor';
@import 'components/cropper';

@import 'layouts/block';
@import 'layouts/content';
@import 'layouts/page';

@import 'vendor/datepicker';
@import 'vendor/autocomplete';
@import 'vendor/pell';
@import 'vendor/swiper';
@import 'vendor/tagify';
@import 'vendor/perfect-scrollbar';

@import 'theme-light';
@import 'theme-dark';
