.cropper {
	position: relative;

	select {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 2;
		width: auto;
	}

	.cropper-modal {
		background: none;
		opacity: 1;
	}

	.cropper-view-box {
		outline-color: var(--bs-primary);
	}

	.cropper-point,
	.cropper-line {
		background: var(--bs-primary);
	}

	.cropper-wrapper {
		height: 100%;
		width: 100%;

		.image-container {
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			left: 50%;
			transform: translateX(-50%);
		}

		img.cropper-source-image {
			display: block;
			width: 100%;
			height: 100% !important;
			display: block;
			object-fit: contain;
		}
	}

	.cropper-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
		gap: $spacer;
		height: 100%;

		.cropper-tile {
			position: relative;
			display: flex;
			align-items: center;

			.cropper__reset {
				display: none;
				line-height: 1;
				position: absolute;
				right: 0;
				top: 0;
				background: rgba(0, 0, 0, 0.6);
				color: var(--bs-gray-100);
				cursor: pointer;
				z-index: 2;
			}

			.cropper-tile__header {
				position: absolute;
				top: 0;
				left: 0;
				color: var(--bs-gray-100);
				z-index: 1;
				background: rgba(0, 0, 0, 0.6);
				padding: 2px 6px;
				font-size: 0.75rem;
				line-height: 1.4;
			}
		}
	}

	.cropper-container {
		&.has-crop {
			.cropper__reset {
				display: block !important;
			}
		}
	}
}
