.datepicker {
	a[data-role='clear'] {
		position: absolute;
		right: 0.5rem;
		top: 50%;
		transform: translateY(-50%);
		display: block;
		line-height: 1;
		font-size: 0;
		display: none;

		i {
			color: var(--bs-gray-600);
		}
	}

	&.has-date {
		a[data-role='clear'] {
			display: block;
		}
	}

	.form-control {
		border-top-right-radius: var(--bs-border-radius) !important;
		border-bottom-right-radius: var(--bs-border-radius) !important;
	}
}
