.map-picker {
	aspect-ratio: 16/10;
	display: flex;
	flex-direction: column;
	position: relative;

	.leaflet-container {
		height: 100%;
		flex: 1;
		z-index: 0;
	}

	.map-picker__options {
		position: absolute;
		z-index: 2;
		bottom: 1rem;
		left: 1rem;
	}
}
