.form-multiselect {
	position: relative;

	.form-control {
		cursor: pointer;
		margin: 0;

		> em {
			font-style: normal;
		}
	}

	.dropdown-menu {
		width: 100%;
		top: 100% !important;
		max-height: 40vh;
		overflow-y: scroll;
		min-height: 2rem;
		padding: $spacer * 0.5 0;

		> li {
			&:hover {
				background: $gray-100;
			}
		}

		.form-multiselect__group-label {
			padding: $spacer * 0.5 $spacer;
			background: $gray-200;
			font-weight: $font-weight-bold;
		}

		.form-multiselect__group {
			padding-left: 0 !important;
			font-weight: $font-weight-bold;
		}

		.form-multiselect__group ~ li {
			padding-left: $spacer;
		}

		.form-check {
			margin: 0 0 0 calc(#{$spacer} - 3px);
			display: flex;
			align-items: center;
			cursor: pointer;

			.form-check-input {
				margin-top: 0;
			}

			.form-check-label {
				display: block;
				flex: 1;
				cursor: pointer;
				padding: $spacer * 0.25 0 $spacer * 0.25 $spacer * 0.5;
			}
		}
	}
}

@include color-mode(dark) {
	.form-multiselect {
		.dropdown-menu {
			> li {
				&:hover {
					background: $gray-800;
				}
			}
		}
	}
}
