.password-validator {
	.password-validator__progress {
		height: 0.1875rem;
		position: relative;
		margin-top: $spacer * 0.5;
		display: none;

		> div {
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			max-width: 100% !important;

			&.danger {
				background: $danger;
			}

			&.warning {
				background: #ffad00;
			}

			&.success {
				background: $success;
			}
		}

		&.is_filled {
			display: block;
		}
	}

	.input-group {
		i {
			&:last-child {
				display: none;
			}
		}

		input[type='text'] + a {
			i:first-child {
				display: none;
			}

			i:last-child {
				display: block;
			}
		}

		.input-group-text {
			width: 3.075rem;
		}
	}

	.password-validator__steps {
		margin: 0;
		padding: 0;
		list-style: none;
		margin-top: $spacer * 0.25;
		display: none;

		li {
			font-size: 0.75rem;
			color: var(--bs-gray-600);
			display: none;
			align-items: center;

			i {
				font-style: normal;
				margin-right: $spacer * 0.25;
				display: block;
				width: 0.75rem;
				font-size: 0.75rem;
				text-align: center;

				&:nth-child(2) {
					color: $success;
					display: none;
				}
			}

			&[data-step='max'] {
				display: none !important;
			}

			&.requires {
				display: flex;
			}
		}
	}

	&.long-password li[data-step='max'] i,
	.password-validator__steps li.complete i {
		&:nth-child(1) {
			display: none;
		}

		&:nth-child(2) {
			display: block;
		}
	}

	&.has-policy {
		.password-validator__progress,
		.password-validator__steps {
			display: block;
		}
	}

	&.long-password {
		.password-validator__steps {
			li {
				display: none !important;

				&[data-step='max'] {
					display: flex !important;
				}
			}
		}
	}
}
