.upload-area {
	background: var(--bs-gray-100);
	display: block;
	text-align: center;
	outline: dashed 1px var(--bs-gray-500);
	font-size: 0;
	line-height: 0;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	margin: 0 !important;
	margin-bottom: 0;

	&.disabled {
		cursor: default !important;
	}

	input {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;
	}

	&:hover {
		text-decoration: none;

		figcaption {
			i {
				color: $success;
			}
		}

		.upload-area__tooltip {
			display: block;
		}
	}

	figcaption {
		margin: 0;
		font-size: 0.75rem;
		line-height: 1;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);

		i {
			font-size: 1.25rem;
			display: block;
			line-height: 1;
			color: var(--bs-body-color);
			margin-bottom: $spacer * 0.5;
			color: var(--bs-gray-600);
		}

		em {
			display: block;
			font-style: normal;
			text-align: center;
			color: var(--bs-body-color);
			font-size: 0.875em;
		}
	}

	&.required {
		outline-color: var(--bs-danger);
		//background: theme-color-level(danger, $alert-bg-level);

		i {
			color: var(--bs-danger);
		}

		&:hover {
			outline: solid 1px var(--bs-danger);

			figcaption {
				display: none;
			}
		}
	}

	&.hidden {
		display: none;
	}

	&.text-area {
		padding-bottom: 100%;
	}

	&__tooltip {
		display: none;
		position: absolute;
		font-size: 0.875rem;
		line-height: 1.2;
		background: var(--bs-white);
		font-weight: 400;
		padding: 0.467rem 0.467rem 0.6rem 0.467rem;
		border: solid 1px var(--bs-danger);
		color: var(--bs-danger);
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		top: 50%;
	}
}

.uploader {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: $spacer;

	&__item {
		padding-bottom: 75%;
		position: relative;
	}

	&__item:has(.dropdown-menu.show) {
		z-index: 999;
	}

	&.gallery {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-gap: $spacer;

		.uploader__item {
			padding-bottom: 100%;
		}
	}

	&.uploader--list {
		display: flex;
		flex-direction: column;
		gap: $spacer * 0.5;

		.uploader__item {
			padding: 0;
		}

		.upload-area {
			figcaption {
				position: static;
				transform: none;
				flex-direction: row;
				display: flex;
				align-items: center;
				padding: $spacer * 0.5;

				i {
					margin: 0;
				}
			}
		}

		.upload-file {
			display: flex;
			flex-direction: row;
			padding: $spacer * 0.5;
			align-items: center;
			background: var(--bs-gray-200);

			figure {
				position: static;
				order: 2;
				flex: 0 0 auto;
				width: auto;
				aspect-ratio: 1/1;
				height: 2rem;
			}

			.upload-file__menu {
				position: static;
			}

			.upload-file__info {
				flex-direction: row;
				gap: $spacer;
				position: static;
				flex: 1;
				outline: none;
				padding: 0;
				order: 1;
				width: auto;
			}

			.upload-file__icon {
				margin: 0;
			}

			.upload-file__filename {
				flex: 1;
				text-align: left;
			}

			.upload-file__options {
				position: static;
				margin-left: auto;
				order: 3;
			}

			&.file-image,
			&.has-thumb {
				.upload-file__info {
					display: block;
					order: 2;

					.upload-file__icon {
						display: none;
					}

					.upload-file__filename {
						padding-left: $spacer;
					}
				}
			}
		}
	}

	&.file-drag {
		.upload-area {
			outline-color: $warning;
			//background: theme-color-level('warning', $alert-bg-level);
		}
	}

	@include media-breakpoint-down(md) {
		grid-template-columns: repeat(1, 1fr);
	}

	&.has-captions {
		.upload-file {
			.upload-file__caption {
				display: block;
			}
		}
	}
}

.upload-file {
	position: relative;
	background: var(--bs-gray-100);
	outline: dashed 1px var(--bs-gray-500);

	figure {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		margin: 0;
		font-size: 0;
		line-height: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		transition: opacity 80ms linear;
		z-index: 2;
	}

	.upload-file__options {
		position: absolute;
		z-index: 3;
		right: 0;
		top: 0;
	}

	.upload-file__info {
		display: none;
	}

	.upload-file__caption {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 5;
		padding: $spacer * 0.5;
		display: none;
	}

	.spinner {
		position: absolute;
		z-index: 3;
		left: 0;
		top: 0;
		display: block;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	.progress {
		border: none;
		height: 0.333rem;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		opacity: 1;
		transform: opacity 120ms ease-out;
		border-radius: 0;
	}

	&__msg {
		display: none;
	}

	&__menu {
		position: absolute;
		right: 0.267rem;
		top: 0.267rem;
		opacity: 0;
		transition: opacity 80ms linear;
		display: none;

		.dropdown-toggle {
			width: 1.733rem;
			height: 1.733rem;
			background: var(--bs-white);
			border-radius: 100%;
			justify-content: center;

			i {
				color: var(--bs-body-color);
			}

			&:before {
				display: none;
			}
		}
	}

	&:hover {
		.upload-file__menu {
			opacity: 1;
		}
	}

	&.error {
		&.completed {
			background: var(--bs-gray-200);
		}

		.upload-file__msg {
			display: block;
			position: absolute;
			font-size: 0.75rem;
			line-height: 1;
			left: 0;
			bottom: 0;
			width: 100%;
			background: var(--bs-danger);
			color: var(--bs-white);
			padding: 0.333rem;
			text-align: center;
		}
	}

	&.has-thumb {
		outline: none;
	}

	&.completed {
		outline: none;
		background: repeating-conic-gradient(rgba(0, 0, 0, 0.25) 0 25%, #0000 0 50%) 50% / 20px 20px;
		background-position: left top;

		.upload-file__menu {
			display: block;
			opacity: 1;
		}

		.spinner {
			display: none;
		}

		.progress {
			opacity: 0;
			pointer-events: none;
		}
	}

	.dropdown {
		font-size: 1rem;
		line-height: 1;
	}

	.upload-file__filename {
		font-size: 0.725em;
		line-height: 1.3;
	}

	&.file-document {
		background: var(--bs-gray-100);

		.upload-file__info {
			display: flex;
			position: absolute;
			width: 100%;
			padding: 1rem;
			text-align: center;
			word-break: break-all;
			height: 100%;
			align-items: center;
			justify-content: center;
			z-index: 1;
			outline: dashed 1px var(--bs-gray-500);
		}

		.upload-file__filename {
			display: flex;
			flex-direction: column;

			&:before {
				font-size: 2.133rem;
				display: block;
				line-height: 1;
				margin-bottom: $spacer * 0.5;
			}
		}
	}

	&.no-preview {
		.upload-file__info {
			flex-direction: column;

			.upload-file__icon {
				width: $spacer * 2;
				height: $spacer * 2;
				margin-bottom: $spacer * 0.5;
				display: block;
				line-height: 1;
			}
		}
	}
}

@include color-mode(dark) {
	.upload-area {
		background-color: var(--bs-gray-800);
		outline-color: var(--bs-gray-700);
	}
}

