<div class="password-validator" data-bind="components.password-validator" data-policy="min:8,max:20,mixed,number,special">
	<div class="input-group">
		<input class="form-control" type="password" data-role="password-validator.password-input" name="current_password" autocomplete="new-password" />
		<a href="javascript:;" data-role="password-validator.toggle-visbility" class="input-group-icon">
			<i class="material-symbols-outlined">visibility</i>
			<i class="material-symbols-outlined">visibility_off</i>
		</a>
	</div>
	<div class="password-validator__progress">
		<div data-role="password-validator.progress"></div>
	</div>

	<div data-role="form.field-message" data-name="password"></div>

	<ul class="password-validator__steps">
		<li data-step="mixed">
			<i class="material-symbols-outlined">close</i>
			<i class="material-symbols-outlined">check</i>
			Uppercase and lowercase characters
		</li>
		<li data-step="uppercase">
			<i class="material-symbols-outlined">close</i>
			<i class="material-symbols-outlined">check</i>
			Uppercase characters
		</li>
		<li data-step="lowercase">
			<i class="material-symbols-outlined">close</i>
			<i class="material-symbols-outlined">check</i>
			Lowercase characters
		</li>
		<li data-step="special">
			<i class="material-symbols-outlined">close</i>
			<i class="material-symbols-outlined">check</i>
			Special characters
		</li>
		<li data-step="number">
			<i class="material-symbols-outlined">close</i>
			<i class="material-symbols-outlined">check</i>
			Numbers
		</li>
		<li data-step="min">
			<i class="material-symbols-outlined">close</i>
			<i class="material-symbols-outlined">check</i>
			At least 8 characters
		</li>
		<li data-step="max">
			<i class="material-symbols-outlined">close</i>
			<i class="material-symbols-outlined">check</i>
			Very long password
		</li>
	</ul>
</div>
