.breadcrumb {
	margin:0;

	&.breadcrumb-languages {
		--bs-breadcrumb-divider:'\2022';
		justify-content: center;
		font-size: .875rem;

		.breadcrumb-item {
			&.active {
				a {
					text-decoration: none;
					pointer-events: none;
					color:var(--bs-gray-600);
				}
			}
		}
	}
}
