@keyframes dropdownSlideIn {
	0% {
		margin-top: 0.5rem;
		opacity: 0;
	}

	100% {
		margin-top: 0;
		opacity: 1;
	}

	0% {
		margin-top: 0.5rem;
		opacity: 0;
	}
}

.dropdown-menu {
	animation-name: dropdownSlideIn;
	animation-duration: 0.15s;
	animation-fill-mode: both;
	min-height: 1.9375rem;
	box-shadow: $box-shadow-sm;
	border: none;

	&.notification-list {
		max-height: 55vh;
		width: 31.25rem;
		min-height: 5rem;

		.spinner {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}

		@include media-breakpoint-down(md) {
			max-height: 100%;
			width: 100%;
			margin-top: 0 !important;
			transform: none !important;
			position: fixed !important;
			height: calc(100svh - #{$desktop-header-height});
			top: #{$desktop-header-height} !important;
		}
	}
}
