.form-control {
	background: var(--bs-input-bg);

	&:focus {
		border-color: var(--bs-input-focus-border-color);
		background: var(--bs-input-bg);
	}

	&[disabled],
	&[readonly] {
		cursor: not-allowed;
	}
}
