.form-check {
	&:not(.form-switch) {
		.form-check-input[type='checkbox'] {
			background-position: 0px 0.25rem;

			&:checked {
				background-position: 0 0;
			}
		}
	}

	.form-check-input {
		transition: all 180ms ease-in-out;
	}

	.form-check-input,
	.form-check-label[for] {
		cursor: pointer;
	}
}
