.form-text {
	font-size: 0.75rem;
	line-height: 1;
	display: block;
	margin: 0;
}

.password-validator ~ .form-text,
.input-group ~ .form-text,
.form-control ~ .form-text {
	margin-top: $spacer * 0.25;
}
