.input-group {
	.input-group-text {
		background: var(--bs-input-bg);
		transition: $input-transition;
		color: var(--bs-gray-600);

		&.as-icon {
			width: 2.975rem;
			color: var(--bs-border-color);
		}
	}

	.input-group-text {
		& + .form-control {
			padding-left: 0;
			border-left: none;
		}
	}

	.form-control {
		&:has(+ .input-group-text) {
			border-right: none;
		}
	}

	&:has(.form-control:disabled) {
		.input-group-text {
			background-color: var(--bs-secondary-bg);
		}
	}

	&:has(.form-control:focus) {
		.input-group-text {
			border-color: var(--bs-input-focus-border-color);
		}
	}

	&:has(.form-control.is-invalid) {
		.input-group-text {
			border-color: var(--bs-form-invalid-border-color);
		}
	}

	&:has(.input-group-icon) {
		.form-control {
			border-radius: $input-border-radius !important;
			padding-right: 2rem;
		}
	}

	.input-group-icon {
		position: absolute;
		top: calc(50% + 1px);
		transform: translateY(-50%);
		line-height: 1;
		right: $spacer * 0.5;
	}
}
