.list-group {
	.list-group-item {
		display: flex;
		justify-content: space-between;

		> a {
			color: var(--bs-primary);
		}

		> nav {
			display: flex;
			align-items: center;
			gap: $spacer * 0.5;

			a {
				display: flex;
				line-height: 1;
				font-size: 0;
				color: var(--bs-gray-500);

				i {
					font-size: 1.125rem;
				}
			}
		}

		&.active {
			> a {
				color: var(--bs-gray-100);
			}

			> nav {
				a {
					color: var(--bs-gray-100);
				}
			}
		}
	}
}
