.main-menu {
	border-right: solid 1px transparent;
	display: flex;
	flex-direction: column;
	position: fixed;
	left: 0;
	top: 0;
	width: $sidebar-width;
	z-index: 2;
	height: 100vh;
	background: var(--bs-body-bg);

	.main-menu__content {
		position: relative;
		flex: 1;
	}

	.main-menu__logo {
		height: $desktop-header-height;
		background: var(--bs-gray-800);
		padding: $spacer;
		border-bottom: solid 1px transparent;
		color: var(--bs-gray-100);
		display: flex;
		align-items: center;
		text-transform: uppercase;
		box-shadow: $desktop-header-box-shadow;
		text-decoration: none;
		text-transform: none;
		font-weight: $font-weight-bold;

		small {
			color: var(--bs-gray-500);
			display: block;
			font-weight: $font-weight-normal;
			font-size: 0.75rem;
		}

		span {
			display: block;
			line-height: 1.2;
			padding-left: $spacer * 1.12;
			user-select: none;
		}

		img {
			display: block;
			margin-right: 0;
			width: 1.85rem;
		}
	}

	.main-menu__footer {
		margin-top: auto;
		padding: $spacer;
		font-size: 0.75rem;
		text-align: center;
		color: var(--bs-gray-600);
	}

	.main-menu__inner {
		position: absolute;
		left: 0;
		top: 0;
		width: calc(100% + 1px);
		height: 100%;
		overflow-y: scroll;
		padding: $spacer 0 0 0;
		display: flex;
		flex-direction: column;

		&::-webkit-scrollbar {
			width: 1px;
		}

		&::-webkit-scrollbar-track {
			background: transparent;
		}

		&::-webkit-scrollbar-thumb {
			background-color: transparent;
		}
	}
}
