.nav {
	&.main-nav {
		margin: 0;
		padding: 0;
		list-style: none;
		flex-direction: column;

		.badge {
			margin-left: auto;
		}

		a:hover {
			text-decoration: none;
		}

		.nav-item {
			&:hover {
				> a {
					color: var(--bs-gray-100);
					background: lighten($gray-900, 5);

					> i {
						color: var(--bs-gray-100);
					}
				}
			}

			> a {
				display: flex;
				align-items: center;
				color: var(--bs-gray-400);
				padding: $spacer * 0.65 $spacer * 1.5;
				padding-right: $spacer;
				font-size: 0.875rem;
				position: relative;
				transition: color 50ms ease-in;

				> span {
					display: block;
					line-height: 1;
				}

				&.active {
					color: var(--bs-gray-100);

					> i {
						color: var(--bs-primary) !important;
					}
				}

				i {
					display: block;
					flex: 0 0 $spacer;
					font-size: 1.375rem;
					width: $spacer;
					text-align: center;
					margin-right: $spacer * 1.55;
					transition: color 50ms ease-in;
					margin-left: 0.35rem;
					position: relative;
    				top: 0.05rem;
				}
			}
		}

		li {
			ul {
				margin: 0;
				padding: $spacer * 0.5 0;
				list-style: none;
			}
		}

		.nav-group {
			text-transform: uppercase;
			color: var(--bs-secondary);
			font-weight: $font-weight-bold;
			font-size: 0.775em;
			padding-left: $spacer * 4.5;
			margin-top: $spacer;
			margin-bottom: $spacer * 0.5;

			&:first-child {
				margin-top: $spacer * 0.5;
			}
		}

		.nav-subitem {
			> a {
				display: flex;
				color: var(--bs-gray-400);
				padding: $spacer * 0.5 $spacer;
				padding-left: $spacer * 4.5;
				align-items: center;
				font-size: 0.8125rem;
				position: relative;
				transition: color 50ms ease-in;

				&:hover {
					color: var(--bs-gray-100);
				}

				&.active {
					color: var(--bs-primary);
				}

				> i {
					font-size:1rem;
					margin-right: $spacer*0.5;
				}
			}
		}
	}
}

.nav-tabs-content {
	border:solid 1px var(--bs-gray-300);
	margin-top: 0 !important;
    border-top: none;
    padding: $spacer;
}
