.navbar {
	position: sticky;
	padding-left: $content-padding-x;
	padding-right: $content-padding-x;
	background: var(--bs-gray-200);
	min-height: calc(4.5rem - #{$spacer});

	&.bottom {
		bottom: 0;
		border-top: solid 1px transparent;
		box-shadow: $box-shadow-sm-top;
		background: var(--bs-body-bg);
	}

	.navbar-nav {
		display: flex;
		flex-direction: row;
		font-size: 0.875rem;
		color: var(--bs-gray-600);

		.nav-item + .nav-item {
			margin-left: $spacer * 0.5;
		}
	}

	&.navbar-inline {
		padding-left: 0;
		padding-right: 0;

		.navbar-inline__content {
			display: flex;
			gap: $spacer;
			width: 100%;
			align-items: center;
		}
	}

	&.navbar-table-bulk {
		margin-bottom: $spacer;
	}

	@include media-breakpoint-down(md) {
		&.navbar-inline {
			.navbar-inline__content {
				flex-direction: column;
				gap: $spacer * 0.5;

				> section {
					flex: 1;
					width: 100%;
				}
			}
		}
	}
}
