.notification {
	display: flex;
	padding: $spacer * 0.75 $spacer;
	gap: $spacer;

	> figure {
		flex: 0 0 3rem;
		margin: 0;

		span {
			overflow: hidden;
			margin: 0;
			border-radius: 100%;
			aspect-ratio: 1/1;
			display: block;
		}

		img {
			width: 100%;
			object-fit: cover;
			aspect-ratio: 1/1;
		}
	}

	> a {
		display: block;
		width: 100%;
		color: var(--bs-body-color);

		header {
			margin-bottom: $spacer * 0.5;

			h4 {
				font-size: 1.125rem;
				font-weight: $font-weight-bold;
				display: flex;
				justify-content: space-between;
				margin: 0;

				i {
					color: var(--bs-gray-400);
				}
			}

			time {
				display: block;
				font-size: 0.875rem;
				color: var(--bs-gray-600);
			}
		}

		> p {
			font-size: 1rem;
		}
	}

	& + & {
		border-top: solid 1px var(--bs-gray-300);
	}

	&:hover {
		background: var(--bs-gray-200);
	}

	&.unread {
		background: var(--bs-highlight-bg);
	}
}
