.offcanvas {
	width: 100%;
	--bs-offcanvas-width: 100%;
	max-width: 40rem;

	.offcanvas-body {
		padding-top: 0;
	}

	&.offcanvas-mobile-menu {
		--bs-offcanvas-width: 100%;
		--bs-offcanvas-bg: transparent;
		height: 100svh;

		border: none;
		pointer-events: none;

		& ~ .offcanvas-backdrop {
			display: none;
		}

		.offcanvas-header {
			height: $desktop-header-height;
			margin-bottom: 0;
		}

		.offcanvas-inner {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			overflow-y: auto;
			overscroll-behavior: none;
			padding: $spacer 0 0 0;
		}

		.offcanvas-body {
			padding: 0;
			position: relative;
			background: var(--bs-body-bg);
			color: var(--bs-body-color);
			pointer-events: all;
			overflow: hidden;
		}

		.offcanvas-footer {
			background: var(--bs-gray-900);
			color: var(--bs-gray-600);
			padding: $spacer;
			font-size: 0.75rem;
			text-align: center;
		}

		.main-nav + .main-nav {
			border-top: solid 1px var(--bs-gray-600);
			margin-top: $spacer;
			padding-top: $spacer;
		}
	}

	.offcanvas-header {
		background: var(--bs-gray-200);
		margin-bottom: $spacer;
	}

	.offcanvas-footer {
		background: var(--bs-modal-footer-bg);
		padding: $spacer $spacer;
		display: flex;
		gap: $spacer;
		align-items: center;
	}

	&.offcanvas-loading {
		.offcanvas-body {
			position: relative;

			.spinner {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}

	@include media-breakpoint-down(md) {
		max-width: 100% !important;
	}
}
