<ul class="nav main-nav">
	<li class="nav-item">
		<a class="active" href="home.html">
			<i class="material-symbols-outlined">dashboard</i>
			<span>Home</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="collapsed" data-bs-toggle="collapse" href="#menu-1">
			<i class="material-symbols-outlined">tune</i>
			<span>Settings</span>
			<span class="badge bg-primary">1</span>
		</a>
		<div class="collapse " id="menu-1">
			<ul>
				<li class="nav-group">Pages</li>
				<li class="nav-subitem">
					<a href="users.html">
						<span>Users</span>
						<span class="badge bg-secondary">1</span>
					</a>
					<a href="permissions.html">
						<span>Permissions</span>
						<span class="badge bg-secondary">1</span>
					</a>
				</li>
				<li class="nav-group">Another group</li>
				<li class="nav-subitem">
					<a class="" href="">
						<span>Suboption 4</span>
						<span class="badge bg-secondary">78</span>
					</a>
				</li>
				<li class="nav-subitem">
					<a class="" href="">
						<span>Suboption 5</span>
						<span class="badge bg-secondary">3892</span>
					</a>
				</li>
				<li class="nav-subitem">
					<a class="" href="">
						<span>Suboption 6</span>
						<span class="badge bg-secondary">35</span>
					</a>
				</li>
				<li class="nav-subitem">
					<a class="" href="">
						<span>Suboption 7</span>
						<span class="badge bg-secondary">20</span>
					</a>
				</li>
				<li class="nav-subitem">
					<a class="" href="">
						<span>Suboption 8</span>
						<span class="badge bg-secondary">29</span>
					</a>
				</li>
				<li class="nav-subitem">
					<a class="" href="">
						<span>Suboption 9</span>
						<span class="badge bg-secondary">2</span>
					</a>
				</li>
			</ul>
		</div>
	</li>
</ul>
